<template>
  <PageTemplate @scan="doScanWithBackCamera" section_title="Рабочий стол" active_icon="th-large">
    <StackLayout class="p-3" backgroundColor="#E8E8E8">
      <!--<Achievements/>-->
      <MrBoo class="mt-3"/>
      <StackLayout class="postContainer mt-3 shadow-md">
        <StackLayout padding="10">
          <Label
            row="1"
            class="text-left text-xl font-weight-bold"
            textWrap="true"
            text="Статистика пользователя"
          ></Label>
          <FlexboxLayout justifyContent="center" alignItems="flex-center" v-if="user_data" verticalAlignment="center">
            <Image v-if="user_data.avataro"
                   class="rounded-full"
                   width="40"
                   height="40"
                   marginRight="5"
                   borderColor="#aaaaaa"
                   borderWidth="1"
                   :src="user_data.avataro"
                   stretch="fill" />
            <Label v-else
                   class="fa m-t-15 text-center icon_user"
                   :text="`fa-user-circle` | fonticon"/>
            <Label
              alignSelf="center"
              :text="`${user_data.unuaNomo.enhavo} ${user_data.familinomo.enhavo}`"
              class="m-l-15 name_user"
            />
          </FlexboxLayout>
          <FlexboxLayout padding="10">
            <StackLayout orientation="horizontal" padding="10">
              <Label class="fa statIcon" :text="`fa-dollar` | fonticon"/>
              <Label :text="`Продано: ${user_data.vendoj}`"></Label>
            </StackLayout>
            <!--<StackLayout orientation="horizontal" padding="10">
              <Label class="fa statIcon" :text="`fa-archive` | fonticon"/>
              <Label :text="`Баллы: ${user_data.bonusojPunktoj}`"></Label>
            </StackLayout>-->
          </FlexboxLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </PageTemplate>
</template>

<script>
  import Login from "./login";
  import MixPreview from "../components/views/MixPreview";
  import {mapActions, mapGetters} from "vuex";
  import {isIOS} from "tns-core-modules/platform";
  import {BarcodeScanner} from "nativescript-barcodescanner";
  import MrBoo from "./UI/MrBoo";
  import DocPreview from "./views/DocPreview";
  import Achievements from "../components/UI/Achievements";

  export default {
    data() {
      return {
        isIOS,
        codeScanner: null,
      };
    },

    components: {
      MrBoo,
      Achievements,
    },

    methods: {
      ...mapActions("taskoj", {
        loadTaskoj: "loadTaskoj",
      }),
      ...mapActions("auth", {
        fetch_user: "fetch_user",
      }),
      logout() {
        this.$navigateTo(Login, {
          clearHistory: true
        });
      },
      onScanResult(evt) {
        console.log(`onScanResult: ${evt.text} (${evt.format})`);
      },
      doScanWithBackCamera() {
        this.scan(false);
      },
      doScanWithFrontCamera() {
        this.scan(true);
      },
      scan(front) {
        if (!this.codeScanner) {
          this.codeScanner = new BarcodeScanner();
        }

        this.codeScanner.scan({
          cancelLabel: "Отмена. Для подсветки используйте кнопки громкости", // iOS only, default 'Close'
          cancelLabelBackgroundColor: "#333333", // iOS only, default '#000000' (black)
          message: "Используйте кнопки громкости для подсветки", // Android only, default is 'Place a barcode inside the viewfinder rectangle to scan it.'
          preferFrontCamera: front, // Android only, default false
          showFlipCameraButton: true, // default false
          showTorchButton: true, // iOS only, default false
          torchOn: false, // launch with the flashlight on (default false)
          resultDisplayDuration: 500, // Android only, default 1500 (ms), set to 0 to disable echoing the scanned text
          beepOnScan: true, // Play or Suppress beep on scan (default true)
          openSettingsIfPermissionWasPreviouslyDenied: true, // On iOS you can send the user to the settings app if access was previously denied
          reportDuplicates: true,
          continuousScanCallback: (result) => {
            if (/.+documents\/.+$/gi.test(result.text)) {
              const uuid = result.text.split("documents/")[1];

              this.codeScanner.stop();
              this.$navigateTo(DocPreview, {
                clearHistory: false,
                props: {
                  uuid: uuid
                }
              });
            } else if (/.+resources\/.+$/gi.test(result.text)) {
              const uuid = result.text.split("resources/")[1];

              this.codeScanner.stop();
              this.$navigateTo(MixPreview, {
                clearHistory: false,
                props: {
                  uuid: uuid
                }
              });
            } else {
              alert({
                title: 'Ой!',
                message: 'Код не распознан',
                okButtonText: 'Ok'
              })
            }
          },
          closeCallback: () => {
            console.log("Scanner closed @ " + new Date().getTime());
          }
        })
          .then(
            result => {

            },
            errorMessage => {
              console.log("No scan. " + errorMessage);
            }
          );
      },

      set_task_text(input) {
        let return_data = input.replace(/"/g, "'");
        return return_data;
      }
    },
    computed: {
      ...mapGetters('auth', {
        user_perms: 'permissions',
        isLogged: 'isLogged',
      }),
    },
    mounted() {
      this.fetch_user();

      /*setTimeout(() => {
        this.$navigateTo(MixPreview, {
          clearHistory: false,
          props: {
            uuid: "0e56af1d-921a-49c6-9307-a3b6b24dbf6e"
          }
        });
      }, 1500);*/
    },
  };
</script>

<style>
  /*
  In NativeScript, the app.css file is where you place CSS rules that
  you would like to apply to your entire application. Check out
  http://docs.nativescript.org/ui/styling for a full list of the CSS
  selectors and properties you can use to style UI components.

  /*
  In many cases you may want to use the NativeScript core theme instead
  of writing your own CSS rules. For a full list of class names in the theme
  refer to http://docs.nativescript.org/ui/theme.
  The imported CSS rules must precede all other types of rules.
  */
  @import "~nativescript-theme-core/css/core.light.css";

  /* .btn {
    font-size: 18;
  } */

  .icon_user {
    font-size: 40;
  }

  .name_user {
    font-size: 15;
  }

  .koopka {
    font-size: 5px;
  }

  .actionBarContainer {
    width: 100%;
    float: left;
  }

  .convFriendName {
    font-weight: bold;
    font-size: 19;
  }

  .convDateOut {
    font-size: 15;
    text-align: center;
  }

  .convTextOut {
    font-size: 15;
    margin-top: 8;
  }

  .notRead {
    color: #000;
    font-weight: bold;
  }

  .read {
    color: #6c6c6c;
  }

  .conImg {
    width: 60;
    height: 60;
    border-radius: 30;
  }

  .header {
    background: #1aa3ff;
  }

  .aboutRow {
    margin-top: 10;
  }

  .postTitle {
    font-size: 14;
    color: #000;
  }

  .drawerItemText {
    font-size: 19;
    color: #000;
    height: 22;
  }

  .sideDrawerContainer {
    background: #fff;
  }

  .profilePic {
    width: 150;
    height: 150;
    border-radius: 100;
    margin: 20;
    border-color: #4db8ff;
    border-width: 1;
  }

  .postContainer {
    background: #fff;
  }

  .aboutContainer {
    width: 85%;
    border-radius: 15;
    background: #eeeeee;
    margin-top: 20;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 20;
    padding-right: 20;
  }

  .postDateSmall {
    font-size: 14;
    margin-left: 10;
    color: #858585;
  }

  .postAuthotName {
    font-size: 17;
    color: #000;
    margin-left: 10;
    margin-top: 2;
  }

  .postImageSmall {
    width: 40;
    height: 40;
    border-radius: 40;
    border-width: 0.5;
    border-color: #c4c4c4;
  }

  .listImage {
    border-width: 1;
    border-color: #fff;
  }

  .notification {
    background: red;
    width: 25;
    height: 25;
    margin-top: 8%;
    margin-left: 25;
    border-radius: 30;
    z-index: 100;
    color: #fff;
    font-size: 13;
  }

  .notificationAndroid {
    background: red;
    width: 22;
    height: 22;
    margin-top: 12%;
    margin-left: 25;
    border-radius: 30;
    z-index: 100;
    color: #fff;
    font-size: 13;
    padding-top: 1;
  }

  .navItem {
    width: 25%;
    text-align: center;
  }

  .followersTxt {
    text-align: center;
    font-size: 14;
    height: 20;
  }

  .followersTxtValue {
    text-align: center;
    margin-top: 10;
    height: 25;
    font-size: 22;
    font-weight: bold;
    color: #000;
  }

  .followersContainer {
    width: 90%;
  }

  .HLeft {
    width: 10%;
    float: left;
    border: 1px solid red;
    margin-left: 5.5%;
  }

  .HMid {
    width: 70%;
  }

  .HRight {
    width: 19%;
  }

  .searchField {
    border-bottom-width: 1;
    border-bottom-color: #fff;
    height: 40;
    text-decoration: none;
  }

  .font-awesome {
    font-family: "FontAwesome";
  }

  .home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
  }

  .description-label {
    margin-bottom: 15;
  }

  .mainTab {
    font-size: 30;
  }

  .statIcon {
    margin-right: 15px;
  }
</style>
