<template>
  <CardView backgroundColor="white">
    <FlexboxLayout flexDirection="row" flexWrap="wrap" padding="10">
      <StackLayout width="31%" v-for="(item, idx) in last_achieves" marginBottom="10" :key="idx">
        <Image :src="item.icon" width="64"></Image>
        <Label :text="item.title" :textWrap="true" class="text-center"></Label>
        <Label v-if="item.level" :text="`(ур. ${item.level})`" :textWrap="true" class="text-center"></Label>
      </StackLayout>
    </FlexboxLayout>
  </CardView>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";

  export default {
    data() {
      return {
        achieves: [],
        last_achieves: [],
      }
    },

    methods: {
      ...mapActions('auth', {
        fetchUser: 'fetch_user',
      }),

      update() {
        this.fetchUser()
          .then(res => {
            if (res) {
              let achieves = {};
              let last_achieves = {};

              for (let cur of this.user.premioj.edges) {
                if (!achieves.hasOwnProperty(cur.node.kodo)) {
                  achieves[cur.node.kodo] = [];
                }

                if (cur.node.ricevita) {
                  last_achieves[cur.node.kodo] = {
                    icon: cur.node.bildo,
                    title: `${cur.node.nomo.enhavo}`,
                    text: cur.node.priskribo.enhavo,
                    status: JSON.parse(cur.node.statuso),
                    received: cur.node.ricevita,
                    date: this.$moment(cur.node.dato).toDate(),
                    kodo: cur.node.kodo,
                    level: cur.node.nivelo
                  }
                }

                achieves[cur.node.kodo].push({
                  icon: cur.node.bildo,
                  title: `${cur.node.nomo.enhavo}`,
                  text: cur.node.priskribo.enhavo,
                  status: JSON.parse(cur.node.statuso),
                  received: cur.node.ricevita,
                  date: this.$moment(cur.node.dato).toDate(),
                  kodo: cur.node.kodo,
                  level: cur.node.nivelo
                });
              }

              this.achieves = Object.entries(achieves).map(v => v[1]);
              this.last_achieves = Object.entries(last_achieves)
                .map(v => v[1])
                .sort((a, b) => b.date - a.date)
                .slice(0, 5);
            }
          })
      }
    },

    computed: {
      ...mapGetters('auth', {
        user: 'user_data',
      })
    },

    mounted() {
      this.update()
    },
  }
</script>

<style scoped>

</style>