<template>
  <FlexboxLayout flexDirection="row" justifyContent="space-between" id="footer">
    <FlexboxLayout
      class="btn"
      :class="{ active: (index === active) }"
      v-for="(btn,index) in btns"
      :key="index"
      @tap="goTo(btn.link,index)"
    >
      <Label class="fa" :text="`fa-${btn.icon}` | fonticon" />
    </FlexboxLayout>
  </FlexboxLayout>
</template>

<script>
import App from "../App";

export default {
  methods: {
    goTo(link, index) {
      if (link !== "") {
        this.$navigateTo(App);
      }
    }
  },

  data() {
    return {
      btns: [
        {
          icon: "search",
          link: App
        },
        {
          icon: "bell-o",
          link: ""
        },
        {
          icon: "globe",
          link: ""
        },
        {
          icon: "newspaper-o",
          link: ""
        },
        {
          icon: "commenting",
          link: ""
        },
        {
          icon: "graduation-cap",
          link: ""
        },
        {
          icon: "users",
          link: App
        }
      ],
      active: 0,
      app: App
    };
  }
};
</script>

<style scoped>
#footer {
  background-color: #ffffff;
}

#footer .btn {
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer .btn.active {
  /* background:red; */
}

#footer .btn.active .icon {
  height: 70%;
}

#footer .btn .icon {
  z-index: 100000;
  height: 100%;
  top: 0px;
  left: 0px;
}

#footer .btn .circle {
  width: 5;
  height: 5;
  border-radius: 100%;
  background: red;
  margin-top: 5;
}
</style>