<template>
  <PageTemplate
    @back="back_tap()"
    android:is_main="false"
    section_title="Настрой своего Mr. Boo!"
    active_icon
  >
    <ActivityIndicator v-if="loading" />
    <ScrollView v-else>
      <StackLayout style="background-color: #E4E4E4">
        <CardView
          v-for="item in items"
          @tap="selectMrBoo(item.node.kodo)"
          :key="item.node.kodo"
          padding="5"
          margin="10"
          height="210"
          elevation="20"
          backgroundColor="white"
        >
          <FlexboxLayout justifyContent="center">
            <Image :src="item.node.bildo4" width="200"></Image>
          </FlexboxLayout>
        </CardView>
      </StackLayout>
    </ScrollView>
  </PageTemplate>
</template>

<script>
import { graphQlUrlize } from "../../config/utils";
import headers from "../../config/auth_data";
import Home from "../Home";

export default {
  data() {
    return {
      loading: true,
      items: [],
      cur_tipo: null
    };
  },

  computed: {},

  methods: {
    back_tap() {
      this.$navigateTo(Home, { clearHistory: true });
    },
    loadSkins() {
      const query = `
query {
  tamagocxiojTipoj {
    edges {
      node {
        uuid
        kodo
        bildo4
      }
    }
  }

  tamagocxi {
    tipo
  }
}
        `;

      return this.$http
        .get(graphQlUrlize({ query: query }))
        .then(response => {
          const resp_tipoj = response.data.data.tamagocxiojTipoj;
          this.$set(this, "items", resp_tipoj.edges);
          this.$set(this, "cur_tipo", response.data.data.tamagocxi.tipo);

          this.loading = false;
          return Promise.resolve();
        })
        .catch(e => {
          this.$navigateBack();
          return Promise.reject(e);
        });
    },

    selectMrBoo(kodo) {
      confirm({
        title: "",
        message: "Изменить вид Mr. Boo?",
        okButtonText: "Да",
        cancelButtonText: "Нет"
      }).then(result => {
        if (result) {
          this.setMrBoo(kodo);
        }
      });
    },

    setMrBoo(tipo) {
      const query = {
        query: `
mutation($tipo: String!) {
  redaktuUzantoTamagocxi(tipo: $tipo) {
    status
    message
    tipo {
      kodo
    }
  }
}
        `,
        variables: {
          tipo: tipo
        }
      };

      return this.$http
        .post("", query, headers.post)
        .then(response => {
          const resp = response.data.data.redaktuUzantoTamagocxi;

          if (resp.status) {
            this.$navigateTo(Home, {
              clearHistory: true
            });
          }

          this.$navigateBack();
          return Promise.reject(new Error(resp.message));
        })
        .catch(e => {
          return Promise.reject();
        });
    }
  },

  mounted() {
    this.loadSkins();
  }
};
</script>

<style scoped>
</style>
