<template>
  <PageTemplate @back="back_tap()" android:is_main="false" :section_title="title" active_icon>
    <StackLayout class="p-5 h-full" backgroundColor="#E8E8E8">
      <FlexboxLayout v-if="hasPerm('homoj.shanghi_avataron')" justifyContent="center" width="128" height="128">
        <Image v-if="user_data.avataro"
               @tap="setAvatar"
               class="rounded-full"
               stretch="fill"
               marginRight="5"
               borderColor="#aaaaaa"
               borderWidth="1"
               :src="user_data.avataro"/>
        <Label v-else
               @tap="setAvatar"
               class="fa m-t-15 text-center icon_user"
               :text="`fa-user-circle` | fonticon"/>
      </FlexboxLayout>
      <StackLayout class="postContainer shadow-md p-5 rounded-full py-2 px-4 mt-3 mb-3">
        <Label
          class="text-center text-gray-600 text-base font-semibold"
          :text="user_data.auhtoritatoj"
        ></Label>
      </StackLayout>

      <StackLayout class="postContainer shadow-md p-5 rounded" v-if="hasPerm('homoj.shanghi_nomon')">
        <FlexboxLayout justifyContent="space-between">
          <Label class="text-left text-gray-700 text-lg mb-4 font-semibold">Основные настройки</Label>
          <Label
            class="text-blue-700 py-1 text-sm mb-4 font-normal"
            @tap="edit_base_info()"
          >Изменить</Label>
        </FlexboxLayout>
        <Label
          v-if="user_data.unuaNomo"
          class="text-gray-600 text-base"
          :text="`Имя : ${user_data.unuaNomo.enhavo}`"
        ></Label>
        <Label
          v-if="user_data.familinomo"
          class="text-gray-600 text-base"
          :text="`Фамилия : ${user_data.familinomo.enhavo}`"
        ></Label>
        <Label
          v-if="user_data.duaNomo"
          class="text-gray-600 text-base"
          :text="`Отчество : ${user_data.duaNomo.enhavo}`"
        ></Label>
      </StackLayout>

      <StackLayout class="postContainer shadow-md p-5 rounded"
                   v-if="hasPerm('homoj.shanghi_pasvorton') || hasPerm('homoj.shanghi_retposhton')">
        <FlexboxLayout justifyContent="space-between">
          <Label class="text-left text-gray-700 text-lg mb-4 font-semibold">Безопасность</Label>
          <Label
            class="text-blue-700 py-1 text-sm mb-4 font-normal"
            @tap="edit_secure_info()"
          >Изменить</Label>
        </FlexboxLayout>
        <Label class="text-gray-600 text-base" :text="`Ел. почта : ${user_data.retpowto}`"></Label>
        <Label class="text-gray-600 text-base" :text="`Пароль: ********`"></Label>
      </StackLayout>
    </StackLayout>
  </PageTemplate>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import headers from "../../config/auth_data";
  import Home from "../Home";
  import loginRouter from "../loginRouter";
  import profileBase from "./ProfileBase";
  import profileSecure from "./ProfileSecure";
  import {selectAvatar, AvatarSource} from "../../commons";
  import {File, knownFolders, path} from 'tns-core-modules/file-system';
  import {isAndroid, isIOS} from 'tns-core-modules/platform';

  export default {
    data() {
      return {};
    },

    computed: {
      ...mapGetters("auth", {
        user_data: "user_data",
        user_perms: "permissions"
      }),
      title() {
        return "Профиль";
      }
    },

    methods: {
      ...mapActions("auth", {
        login: "login",
        fetch_user: "fetch_user"
      }),
      async saveAvatar(imageSource = null) {
        const filePath = path.join(knownFolders.temp().path, 'tmp_avataro.png');
        const query = `
mutation($avataro: String) {
  redaktuHomoProfilo(avataro: $avataro) {
    status
    message
    errors {
      field
      message
    }
  }
}
`;
        const vars = [{name: "query", value: query}];

        if (imageSource) {
          imageSource.saveToFile(filePath, 'png');
          vars.push({name: "avataro", filename: filePath, mimeType: "image/png"})
        } else {
          vars.push({name: "variables", value: JSON.stringify({avataro: 'avataro'})})
        }

        const bghttp = require("nativescript-background-http");
        const appSettings = require("application-settings");
        let session = bghttp.session("avatar-upload");

        const options = {
          url: this.$http.defaults.baseURL,
          method: "POST",
          headers: {
            "X-Auth-Token": appSettings.getString("token"),
            ...headers.post.headers,
          },
          description: "Uploading avatar",
          ...(isAndroid ? { // Доп. конфиг для Android
            androidNotificationTitle: "Загрузка аватар на сервер",
            androidAutoDeleteAfterUpload: true, // Удалять файл после загрузки
            androidAutoClearNotification: true, // Автоматически очищать уведомления после загрузки
            androidMaxRetries: 3, // Максимальное число попыток загрузки на сервер

          } : {})
        };

        let task = session.multipartUpload(vars, options);

        task.on('complete', async response => {
          const resp = JSON.parse(response.response.getBodyAsString()).data.redaktuHomoProfilo;

          if (resp.status) {
            await this.fetch_user()
              .then(() => {
                this.$navigateTo(Home, {
                  clearHistory: true
                })
              })
          }
        });

        task.on('error', e => {
          console.dir(e)
        });
      },

      async setAvatar() {
        let choises = ["Установить с камеры", "Выбрать из галереи"];

        if (this.user_data.avataro) {
          choises.push("Удалить мой аватар")
        }

        action("Выберете действие", "Отмена", choises)
          .then(res => {
            const result = choises.indexOf(res);
            let avataro = null;

            if (result === 0) {
              avataro = selectAvatar(AvatarSource.Camera)
            } else if (result === 1) {
              avataro = selectAvatar(AvatarSource.Image)
            } else if (result < 0) {
              return
            }

            if (avataro) {
              avataro.then(this.saveAvatar)
            } else {
              this.saveAvatar()
            }
          });
      },
      hasPerm(perm) {
        return this.user_perms[perm.split('.')[0]].indexOf(perm.split('.')[1]) > -1
      },
      back_tap() {
        this.$navigateTo(Home, {clearHistory: true});
      },
      edit_base_info() {
        this.$navigateTo(profileBase, {clearHistory: false});
      },
      edit_secure_info() {
        this.$navigateTo(profileSecure, {clearHistory: false});
      },

    },

    mounted() {

    }
  };
</script>

<style scoped>
  .icon_user {
    font-size: 100;
  }
</style>
